<li class="dropdown le-dropdown">
    <a aria-expanded="false" href="javascript:void(0);" class="custom-ion-chevron-down" data-toggle="dropdown">
        <i class="glyphicon glyphicon-th-list"></i> shop by department
    </a>

    <ul class="dropdown-menu">
        <li><a href="#">Computer Cases &amp; Accessories</a></li>
        <li><a href="#">CPUs, Processors</a></li>
        <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
        <li><a href="#">Graphics, Video Cards</a></li>
        <li><a href="#">Interface, Add-On Cards</a></li>
        <li><a href="#">Laptop Replacement Parts</a></li>
        <li><a href="#">Memory (RAM)</a></li>
        <li><a href="#">Motherboards</a></li>
        <li><a href="#">Motherboard &amp; CPU Combos</a></li>
        <li><a href="#">Motherboard Components</a></li>
    </ul>
</li>

