<div class="owl-carousel product-grid-holder owl-loaded owl-drag" id="owl-recommended-products">
    <!-- /.carousel-item -->
    <!-- /.carousel-item -->            
    <div class="item">
        <div class="no-margin carousel-item product-item-holder hover size-medium">
            <div class="product-item">
                <div class="ribbon red"><span>sale</span></div>
                <div class="image">
                    <img src="/assets/products/product-11.jpg" alt="">
                </div>
                <div class="body">
                    <div class="title">
                        <a href="single-product.html">LC-70UD1U 70" class aquos 4K ultra HD</a>
                    </div>
                    <div class="brand">sharp</div>
                </div>
                <div class="prices">
                    <div class="price-current text-right">$1199.00</div>
                </div>
                <div class="hover-area">
                    <div class="add-cart-button">
                        <a class="le-button" href="single-product.html">add to cart</a>
                    </div>
                    <div class="wish-compare">
                        <a href="#" class="fa ion-heart">add to wishlist</a>
                        <a href="#" class="fa ion-arrow-swap">compare</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="no-margin carousel-item product-item-holder hover size-medium">
            <div class="product-item">
                <div class="ribbon blue"><span>new!</span></div>
                <div class="image">
                    <img src="/assets/products/product-12.jpg" alt="">
                </div>
                <div class="body">
                    <div class="title">
                        <a href="single-product.html">cinemizer OLED 3D virtual reality TV Video</a>
                    </div>
                    <div class="brand">zeiss</div>
                </div>
                <div class="prices">

                    <div class="price-current text-right">$1199.00</div>
                </div>
                <div class="hover-area">
                    <div class="add-cart-button">
                        <a class="le-button" href="single-product.html">add to cart</a>
                    </div>
                    <div class="wish-compare">
                        <a href="#" class="fa ion-heart">add to wishlist</a>
                        <a href="#" class="fa ion-arrow-swap">compare</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="no-margin carousel-item product-item-holder hover size-medium">
            <div class="product-item">
                <div class="image">
                    <img src="/assets/products/product-13.jpg" alt="">
                </div>
                <div class="body">
                    <div class="title">
                        <a href="single-product.html">s2340T23" full HD multi-Touch Monitor</a>
                    </div>
                    <div class="brand">dell</div>
                </div>
                <div class="prices">
                    <div class="price-current text-right">$1199.00</div>
                </div>
                <div class="hover-area">
                    <div class="add-cart-button">
                        <a class="le-button" href="single-product.html">add to cart</a>
                    </div>
                    <div class="wish-compare">
                        <a href="#" class="fa ion-heart">add to wishlist</a>
                        <a href="#" class="fa ion-arrow-swap">compare</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="no-margin carousel-item product-item-holder hover size-medium">
            <div class="product-item">
                <div class="ribbon blue"><span>new!</span></div>
                <div class="image">
                    <img src="/assets/products/product-14.jpg" alt="">
                </div>
                <div class="body">
                    <div class="title">
                        <a href="single-product.html">kardon BDS 7772/120 integrated 3D</a>
                    </div>
                    <div class="brand">harman</div>
                </div>
                <div class="prices">
                    <div class="price-current text-right">$1199.00</div>
                </div>
                <div class="hover-area">
                    <div class="add-cart-button">
                        <a class="le-button" href="single-product.html">add to cart</a>
                    </div>
                    <div class="wish-compare">
                        <a href="#" class="fa ion-heart">add to wishlist</a>
                        <a href="#" class="fa ion-arrow-swap">compare</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="no-margin carousel-item product-item-holder hover size-medium">
            <div class="product-item">
                <div class="ribbon green"><span>bestseller</span></div>
                <div class="image">
                    <img src="/assets/products/product-15.jpg" alt="">
                </div>
                <div class="body">
                    <div class="title">
                        <a href="single-product.html">netbook acer travel B113-E-10072</a>
                    </div>
                    <div class="brand">acer</div>
                </div>
                <div class="prices">
                    <div class="price-current text-right">$1199.00</div>
                </div>
                <div class="hover-area">
                    <div class="add-cart-button">
                        <a class="le-button" href="single-product.html">add to cart</a>
                    </div>
                    <div class="wish-compare">
                        <a href="#" class="fa ion-heart">add to wishlist</a>
                        <a href="#" class="fa ion-arrow-swap">compare</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="no-margin carousel-item product-item-holder hover size-medium">
            <div class="product-item">
                <div class="image">
                    <img src="/assets/products/product-16.jpg" alt="">
                </div>
                <div class="body">
                    <div class="title">
                        <a href="single-product.html">iPod touch 5th generation,64GB, blue</a>
                    </div>
                    <div class="brand">apple</div>
                </div>
                <div class="prices">
                    <div class="price-current text-right">$1199.00</div>
                </div>
                <div class="hover-area">
                    <div class="add-cart-button">
                        <a class="le-button" href="single-product.html">add to cart</a>
                    </div>
                    <div class="wish-compare">
                        <a href="#" class="fa ion-heart">add to wishlist</a>
                        <a href="#" class="fa ion-arrow-swap">compare</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="no-margin carousel-item product-item-holder hover size-medium">
            <div class="product-item">
                <div class="image">
                    <img data-echo="/assets/products/product-13.jpg" src="/assets/products/product-13.jpg" alt="">
                </div>
                <div class="body">
                    <div class="title">
                        <a href="single-product.html">s2340T23" full HD multi-Touch Monitor</a>
                    </div>
                    <div class="brand">dell</div>
                </div>
                <div class="prices">
                    <div class="price-current text-right">$1199.00</div>
                </div>
                <div class="hover-area">
                    <div class="add-cart-button">
                        <a class="le-button" href="single-product.html">add to cart</a>
                    </div>
                    <div class="wish-compare">
                        <a href="#" class="fa ion-heart">add to wishlist</a>
                        <a href="#" class="fa ion-arrow-swap">compare</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="no-margin carousel-item product-item-holder hover size-medium">
            <div class="product-item">
                <div class="ribbon blue"><span>new!</span></div>
                <div class="image">
                    <img data-echo="/assets/products/product-14.jpg" src="/assets/products/product-14.jpg" alt="">
                </div>
                <div class="body">

                    <div class="title">
                        <a href="single-product.html">kardon BDS 7772/120 integrated 3D</a>
                    </div>
                    <div class="brand">harman</div>
                </div>
                <div class="prices">

                    <div class="price-current text-right">$1199.00</div>
                </div>
                <div class="hover-area">
                    <div class="add-cart-button">
                        <a class="le-button" href="single-product.html">add to cart</a>
                    </div>
                    <div class="wish-compare">
                        <a href="#" class="fa ion-heart">add to wishlist</a>
                        <a href="#" class="fa ion-arrow-swap">compare</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#recommended-products-carousel .owl-carousel -->
