<div id="top-banner-and-menu">
    <div class="container">
        <div class="col-xs-12 col-sm-4 col-md-3 sidemenu-holder">
            <!-- ========= TOP NAVIGATION ========= -->
            <div class="side-menu animate-dropdown">
                <div class="head"><i class="fa fa-list"></i> all departments</div>
                <nav role="navigation" class="yamm megamenu-horizontal">
                    <ul class="nav">
                        <li class="dropdown menu-item">
                            <a data-toggle="dropdown" class="custom-ion-chevron-right" href="#">Pages</a>
                            <ul class="dropdown-menu mega-menu">
                                <li class="yamm-content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="list-unstyled">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="index-2.html">Home Alt</a></li>
                                                <li><a href="category-grid.html">Category - Grid/List</a></li>
                                                <li><a href="category-grid-2.html">Category 2 - Grid/List</a></li>
                                                <li><a href="single-product.html">Single Product</a></li>
                                                <li><a href="single-product-sidebar.html">Single Product with Sidebar</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-md-4">
                                            <ul class="list-unstyled">
                                                <li><a href="cart.html&amp;style=alt2">Shopping Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="contact.html">Contact Us</a></li>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="blog-fullwidth.html">Blog Full Width</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-md-4">
                                            <ul class="list-unstyled">
                                                <li><a href="blog-post.html">Blog Post</a></li>
                                                <li><a href="faq.html">FAQ</a></li>
                                                <li><a href="terms.html">Terms &amp; Conditions</a></li>
                                                <li><a href="authentication.html">Login/Register</a></li>
                                                <li><a href="404.html">404</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- /.menu-item -->

                        <li class="dropdown menu-item">
                            <a data-toggle="dropdown" class="custom-ion-chevron-right" href="#">Value of the Day</a>
                            <ul class="dropdown-menu mega-menu">
                                <li class="yamm-content">
                                    <!--==== MEGAMENU VERTICAL ===== -->
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                                <li><a href="#">CPUs, Processors</a></li>
                                                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                                <li><a href="#">Graphics, Video Cards</a></li>
                                                <li><a href="#">Interface, Add-On Cards</a></li>
                                                <li><a href="#">Laptop Replacement Parts</a></li>
                                                <li><a href="#">Memory (RAM)</a></li>
                                                <li><a href="#">Motherboards</a></li>
                                                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                                <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Power Supplies Power</a></li>
                                                <li><a href="#">Power Supply Testers Sound</a></li>
                                                <li><a href="#">Sound Cards (Internal)</a></li>
                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                <li><a href="#">Other</a></li>
                                            </ul>
                                        </div>

                                        <div class="dropdown-banner-holder">
                                            <a href="#"><img src="/assets/banner-side.png" alt=""></a>
                                        </div>
                                    </div>
                                    <!-- =============== MEGAMENU VERTICAL ====== -->
                                </li>
                            </ul>
                        </li>
                        <!-- /.menu-item -->

                        <li class="dropdown menu-item">
                            <a data-toggle="dropdown" class="custom-ion-chevron-right" href="#">Laptops &amp; Computers</a>
                            <ul class="dropdown-menu mega-menu">
                                <li class="yamm-content">
                                    <!-- =========== MEGAMENU VERTICAL ====== -->
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                                <li><a href="#">CPUs, Processors</a></li>
                                                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                                <li><a href="#">Graphics, Video Cards</a></li>
                                                <li><a href="#">Interface, Add-On Cards</a></li>
                                                <li><a href="#">Laptop Replacement Parts</a></li>
                                                <li><a href="#">Memory (RAM)</a></li>
                                                <li><a href="#">Motherboards</a></li>
                                                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                                <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Power Supplies Power</a></li>
                                                <li><a href="#">Power Supply Testers Sound</a></li>
                                                <li><a href="#">Sound Cards (Internal)</a></li>
                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                <li><a href="#">Other</a></li>
                                            </ul>
                                        </div>

                                        <div class="dropdown-banner-holder">
                                            <a href="#"><img src="/assets/banner-side.png" alt=""></a>
                                        </div>
                                    </div>
                                    <!--=========== MEGAMENU VERTICAL ======= -->
                                </li>
                            </ul>
                        </li>
                        <!-- /.menu-item -->

                        <li class="dropdown menu-item">
                            <a data-toggle="dropdown" class="custom-ion-chevron-right" href="#">Cameras &amp; Photography</a>
                            <ul class="dropdown-menu mega-menu">
                                <li class="yamm-content">
                                    <!-- === MEGAMENU VERTICAL =========== -->
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                                <li><a href="#">CPUs, Processors</a></li>
                                                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                                <li><a href="#">Graphics, Video Cards</a></li>
                                                <li><a href="#">Interface, Add-On Cards</a></li>
                                                <li><a href="#">Laptop Replacement Parts</a></li>
                                                <li><a href="#">Memory (RAM)</a></li>
                                                <li><a href="#">Motherboards</a></li>
                                                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                                <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Power Supplies Power</a></li>
                                                <li><a href="#">Power Supply Testers Sound</a></li>
                                                <li><a href="#">Sound Cards (Internal)</a></li>
                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                <li><a href="#">Other</a></li>
                                            </ul>
                                        </div>

                                        <div class="dropdown-banner-holder">
                                            <a href="#"><img src="/assets/banner-side.png" alt=""></a>
                                        </div>
                                    </div>
                                    <!-- ===== MEGAMENU VERTICAL ==== -->
                                </li>
                            </ul>
                        </li>
                        <!-- /.menu-item -->

                        <li class="dropdown menu-item">
                            <a data-toggle="dropdown" class="custom-ion-chevron-right" href="#">Smart Phones &amp; Tablets</a>
                            <ul class="dropdown-menu mega-menu">
                                <li class="yamm-content">
                                    <!-- ====== MEGAMENU VERTICAL == -->
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                                <li><a href="#">CPUs, Processors</a></li>
                                                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                                <li><a href="#">Graphics, Video Cards</a></li>
                                                <li><a href="#">Interface, Add-On Cards</a></li>
                                                <li><a href="#">Laptop Replacement Parts</a></li>
                                                <li><a href="#">Memory (RAM)</a></li>
                                                <li><a href="#">Motherboards</a></li>
                                                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                                <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Power Supplies Power</a></li>
                                                <li><a href="#">Power Supply Testers Sound</a></li>
                                                <li><a href="#">Sound Cards (Internal)</a></li>
                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                <li><a href="#">Other</a></li>
                                            </ul>
                                        </div>

                                        <div class="dropdown-banner-holder">
                                            <a href="#"><img src="/assets/banner-side.png" alt=""></a>
                                        </div>
                                    </div>
                                    <!-- ============== MEGAMENU VERTICAL=== -->
                                </li>
                            </ul>
                        </li>
                        <!-- /.menu-item -->

                        <li class="dropdown menu-item">
                            <a data-toggle="dropdown" class="custom-ion-chevron-right" href="#">Video Games &amp; Consoles</a>
                            <ul class="dropdown-menu mega-menu">
                                <li class="yamm-content">
                                    <!-- ============ MEGAMENU VERTICAL ====== -->
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                                <li><a href="#">CPUs, Processors</a></li>
                                                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                                <li><a href="#">Graphics, Video Cards</a></li>
                                                <li><a href="#">Interface, Add-On Cards</a></li>
                                                <li><a href="#">Laptop Replacement Parts</a></li>
                                                <li><a href="#">Memory (RAM)</a></li>
                                                <li><a href="#">Motherboards</a></li>
                                                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                                <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Power Supplies Power</a></li>
                                                <li><a href="#">Power Supply Testers Sound</a></li>
                                                <li><a href="#">Sound Cards (Internal)</a></li>
                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                <li><a href="#">Other</a></li>
                                            </ul>
                                        </div>

                                        <div class="dropdown-banner-holder">
                                            <a href="#"><img src="/assets/banner-side.png" alt=""></a>
                                        </div>
                                    </div>
                                    <!-- ============ MEGAMENU VERTICAL ===== -->
                                </li>
                            </ul>
                        </li>
                        <!-- /.menu-item -->

                        <li class="dropdown menu-item">
                            <a data-toggle="dropdown" class="custom-ion-chevron-right" href="#">TV &amp; Audio</a>
                            <ul class="dropdown-menu mega-menu">
                                <li class="yamm-content">
                                    <!--======= MEGAMENU VERTICAL ==== -->
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                                <li><a href="#">CPUs, Processors</a></li>
                                                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                                <li><a href="#">Graphics, Video Cards</a></li>
                                                <li><a href="#">Interface, Add-On Cards</a></li>
                                                <li><a href="#">Laptop Replacement Parts</a></li>
                                                <li><a href="#">Memory (RAM)</a></li>
                                                <li><a href="#">Motherboards</a></li>
                                                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                                <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Power Supplies Power</a></li>
                                                <li><a href="#">Power Supply Testers Sound</a></li>
                                                <li><a href="#">Sound Cards (Internal)</a></li>
                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                <li><a href="#">Other</a></li>
                                            </ul>
                                        </div>

                                        <div class="dropdown-banner-holder">
                                            <a href="#"><img src="/assets/banner-side.png" alt=""></a>
                                        </div>
                                    </div>
                                    <!-- ============= MEGAMENU VERTICAL ======= -->
                                </li>
                            </ul>
                        </li>
                        <!-- /.menu-item -->

                        <li class="dropdown menu-item">
                            <a data-toggle="dropdown" class="custom-ion-chevron-right" href="#">Gadgets</a>
                            <ul class="dropdown-menu mega-menu">
                                <li class="yamm-content">
                                    <!-- ========= MEGAMENU VERTICAL ======== -->
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                                <li><a href="#">CPUs, Processors</a></li>
                                                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                                <li><a href="#">Graphics, Video Cards</a></li>
                                                <li><a href="#">Interface, Add-On Cards</a></li>
                                                <li><a href="#">Laptop Replacement Parts</a></li>
                                                <li><a href="#">Memory (RAM)</a></li>
                                                <li><a href="#">Motherboards</a></li>
                                                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                                <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Power Supplies Power</a></li>
                                                <li><a href="#">Power Supply Testers Sound</a></li>
                                                <li><a href="#">Sound Cards (Internal)</a></li>
                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                <li><a href="#">Other</a></li>
                                            </ul>
                                        </div>

                                        <div class="dropdown-banner-holder">
                                            <a href="#"><img src="/assets/banner-side.png" alt=""></a>
                                        </div>
                                    </div>
                                    <!-- ======= MEGAMENU VERTICAL ======= -->
                                </li>
                            </ul>
                        </li>
                        <!-- /.menu-item -->

                        <li class="dropdown menu-item">
                            <a data-toggle="dropdown" class="custom-ion-chevron-right" href="#">Car Electronic &amp; GPS</a>
                            <ul class="dropdown-menu mega-menu">
                                <li class="yamm-content">
                                    <!--====== MEGAMENU VERTICAL ============= -->
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                                <li><a href="#">CPUs, Processors</a></li>
                                                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                                <li><a href="#">Graphics, Video Cards</a></li>
                                                <li><a href="#">Interface, Add-On Cards</a></li>
                                                <li><a href="#">Laptop Replacement Parts</a></li>
                                                <li><a href="#">Memory (RAM)</a></li>
                                                <li><a href="#">Motherboards</a></li>
                                                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                                <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Power Supplies Power</a></li>
                                                <li><a href="#">Power Supply Testers Sound</a></li>
                                                <li><a href="#">Sound Cards (Internal)</a></li>
                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                <li><a href="#">Other</a></li>
                                            </ul>
                                        </div>

                                        <div class="dropdown-banner-holder">
                                            <a href="#"><img src="/assets/banner-side.png" alt=""></a>
                                        </div>
                                    </div>
                                    <!--====== MEGAMENU VERTICAL ===== -->
                                </li>
                            </ul>
                        </li>
                        <!-- /.menu-item -->

                        <li class="dropdown menu-item">
                            <a data-toggle="dropdown" class="custom-ion-chevron-right" href="#">Accessories</a>
                            <ul class="dropdown-menu mega-menu">
                                <li class="yamm-content">
                                    <!-- ======= MEGAMENU VERTICAL ====== -->
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                                <li><a href="#">CPUs, Processors</a></li>
                                                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                                <li><a href="#">Graphics, Video Cards</a></li>
                                                <li><a href="#">Interface, Add-On Cards</a></li>
                                                <li><a href="#">Laptop Replacement Parts</a></li>
                                                <li><a href="#">Memory (RAM)</a></li>
                                                <li><a href="#">Motherboards</a></li>
                                                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                                <li><a href="#">Motherboard Components &amp; Accs</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-xs-12 col-lg-4">
                                            <ul>
                                                <li><a href="#">Power Supplies Power</a></li>
                                                <li><a href="#">Power Supply Testers Sound</a></li>
                                                <li><a href="#">Sound Cards (Internal)</a></li>
                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
                                                <li><a href="#">Other</a></li>
                                            </ul>
                                        </div>

                                        <div class="dropdown-banner-holder">
                                            <a href="#"><img src="/assets/banner-side.png" alt=""></a>
                                        </div>
                                    </div>
                                    <!-- ========= MEGAMENU VERTICAL === -->
                                </li>
                            </ul>
                        </li>
                        <!-- /.menu-item -->

                        <li><a href="http://themeforest.net/item/media-center-electronic-ecommerce-html-template/8178892?ref=shaikrilwan">Buy this Theme</a></li>
                    </ul>
                    <!-- /.nav -->
                </nav>
                <!-- /.megamenu-horizontal -->
            </div>
            <!-- /.side-menu -->
            <!-- =========== TOP NAVIGATION : END ========== -->
        </div>
        <!-- /.sidemenu-holder -->

        <div class="col-xs-12 col-sm-8 col-md-9 homebanner-holder">
            <!-- ============== SECTION – HERO ============== -->
            <div id="hero">
                <div class="owl-carousel owl-inner-nav owl-ui-sm owl-loaded owl-drag" id="owl-main">

                    <!-- /.item -->

                    <!-- /.item -->

                    <div class="owl-stage-outer">
                        <div class="flexslider" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 898px;">
                            <ul class="slides">
                            <li class="owl-item active" style="width: 898px;">
                                <div style="background-image: url(/assets/sliders/slider01.jpg);" class="item">
                                    <div class="container-fluid">
                                        <div class="caption vertical-center text-left">
                                            <div class="big-text fadeInDown-1">
                                                Save up to a<span class="big"><span class="sign">$</span>400</span>
                                            </div>

                                            <div class="excerpt fadeInDown-2">
                                                on selected laptops
                                                <br> &amp; desktop pcs or
                                                <br> smartphones
                                            </div>
                                            <div class="small fadeInDown-2">
                                                terms and conditions apply
                                            </div>
                                            <div class="button-holder fadeInDown-3">
                                                <a class="big le-button " href="single-product.html">shop now</a>
                                            </div>
                                        </div>
                                        <!-- /.caption -->
                                    </div>
                                    <!-- /.container-fluid -->
                                </div>
                            </li>
                            <li class="owl-item" style="width: 898px;">
                                <div style="background-image: url(/assets/sliders/slider03.jpg);" class="item">
                                    <div class="container-fluid">
                                        <div class="caption vertical-center text-left">
                                            <div class="big-text fadeInDown-1">
                                                Want a<span class="big"><span class="sign">$</span>200</span>Discount?
                                            </div>

                                            <div class="excerpt fadeInDown-2">
                                                on selected
                                                <br>desktop pcs
                                                <br>
                                            </div>
                                            <div class="small fadeInDown-2">
                                                terms and conditions apply
                                            </div>
                                            <div class="button-holder fadeInDown-3">
                                                <a class="big le-button " href="single-product.html">shop now</a>
                                            </div>
                                        </div>
                                        <!-- /.caption -->
                                    </div>
                                    <!-- /.container-fluid -->
                                </div>
                            </li>
                            </ul>
                        </div>
                    </div>
                    <!--div class="owl-nav disabled">
                        <div class="owl-prev">prev</div>
                        <div class="owl-next">next</div>
                    </div>
                    <div class="owl-dots">
                        <div class="owl-dot active"><span></span></div>
                        <div class="owl-dot"><span></span></div>
                    </div-->
                </div>
                <!-- /.owl-carousel -->
            </div>
            <!-- ============ SECTION – HERO : END ==== -->
        </div>
        <!-- /.homebanner-holder -->
    </div>
    <!-- /.container -->
</div>


